{% extends 'base.html.twig' %}
{% block title %}Add Product{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('add') }}
{% endblock %}
{% block body %}
    <div id = "root" class="container">
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('add') }}
{% endblock %}
